*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
 font-family: 'Karantina', cursive;
}

body{
background-color: #141414;
}

.perfis{
position: relative;
width: 200px;
height: 100px;
/* background-color: red; */
margin: 250px 100px;
color: white;
}

.perfis img{

    width: 100%;
    margin-bottom: 100px;
    color: red;
}

.centro{
    display: flex;
    
}

.p